.uk-navbar-nav > li.uk-active > a {
  font-weight: 500;
}
.uk-dropdown-nav .uk-badge {
  margin-top: 5px;
  margin-bottom: 5px;
}
.uk-navbar-dropdown {
  width: 250px;
}
.uk-dropdown.user-info {
  width: 300px;
}
.uk-dropdown.user-info li > span:not(.uk-badge) {
  padding: 5px 0;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
.recent-threads-content {
  position: absolute;
  top: 80px;
  left: 0;
  width: 150px;
  overflow-y: auto;
  padding: 10px;
}
.page-content {
  position: absolute;
  top: 80px;
  bottom: 23px;
  left: 150px;
  right: 0;
  overflow-y: auto;
  padding-bottom: 20px;
}
.page-footer {
  position: absolute;
  height: 23px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F8F8F8;
  font-size: 0.875rem;
  text-align: center;
}
.thread-actions {
  margin-top: -20px;
  text-align: center;
}
.discussion-thread-message {
  padding-bottom: 10px !important;
}
.message-author {
  margin-right: 20px;
}
.message-author .username {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 0.875rem;
  text-align: center;
}
.pointer-cursor {
  cursor: pointer;
}
.text-avatar {
  box-sizing: border-box;
  width: 96px;
  height: 96px;
  font-size: 64px;
  border-radius: 500px;
  background: #F4F4F4;
  vertical-align: middle;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.text-avatar-flag {
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  font-size: 48px;
  border-radius: 500px;
  background: #F4F4F4;
  vertical-align: middle;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.message-time-container {
  margin-top: -24px;
  left: 0;
  right: 0;
  text-align: center;
}
.message-time {
  font-size: 0.875rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.message-actions {
  float: right;
  width: 30px;
  margin-right: -10px;
  padding-left: 10px;
}
.message-actions a:not(:first-child) {
  margin-top: 15px;
}
.message-content .uk-table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.message-content pre {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.message-content ol,
.message-content ul {
  margin-left: 100px;
}
.message-up-vote {
  position: absolute;
  bottom: 2px;
}
.message-up-vote span {
  color: white;
  background: #6DB629;
}
.message-down-vote {
  position: absolute;
  bottom: 2px;
  right: 0;
  margin-right: 31px;
}
.message-down-vote span {
  color: white;
  background: #F25347;
}
.thread-header .uk-card {
  padding-top: 20px;
  padding-bottom: 0;
}
.thread-header .uk-badge {
  vertical-align: text-bottom;
}
.thread-details {
  font-size: 0.875rem;
  margin-top: -20px;
}
.message-number {
  position: absolute;
  top: 20px;
  width: 96px;
  text-align: center;
}
.uk-card {
  padding-left: 0;
  padding-right: 0;
}
#flags-modal .uk-modal-dialog {
  max-height: 75%;
  overflow: auto;
}
#flags-modal .flag-message {
  padding-top: 0;
  padding-bottom: 0;
}
#flags-modal .flag-content p {
  margin-bottom: 0;
}
#flags-modal .uk-divider-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .message-number {
    top: 10px;
  }
}
