html {
  background-color: #F8F3EA;
  color: black;
}
.uk-navbar {
  background-color: #EADFC5 !important;
}
.uk-navbar-nav > li > a {
  color: #333333;
}
.uk-navbar-nav > li.uk-active > a {
  color: #111111;
  font-weight: 500;
}
.uk-table th {
  color: #333333;
}
.uk-badge {
  background-color: #3F99E6;
}
.uk-dropdown-nav .uk-badge {
  margin-top: 5px;
  margin-bottom: 5px;
}
.uk-navbar-dropdown {
  width: 250px;
}
.uk-dropdown.user-info {
  width: 300px;
}
.uk-dropdown.user-info li > span:not(.uk-badge) {
  color: #999;
  padding: 5px 0;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
.page-content {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  padding-bottom: 20px;
}
.discussion-thread-message {
  padding-bottom: 10px !important;
}
.message-author {
  margin-right: 20px;
}
.message-author .username {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 0.875rem;
  text-align: center;
}
.pointer-cursor {
  cursor: pointer;
}
.text-avatar {
  box-sizing: border-box;
  width: 96px;
  height: 96px;
  font-size: 64px;
  border-radius: 500px;
  background: white;
  border-color: #EADFC5;
  vertical-align: middle;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.text-avatar:hover {
  background-color: #EADFC5;
}
.message-time-container {
  margin-top: -14px;
}
.message-time {
  font-size: 0.875rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.message-actions {
  float: right;
  width: 20px;
  margin-right: -10px;
}
.message-actions a:not(:first-child) {
  margin-top: 15px;
}
.message-content .uk-table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.message-content pre {
  margin-right: 20px;
  background-color: #FFFAF2;
  border-color: #EADFC5;
}
.message-content ol,
.message-content ul {
  margin-left: 100px;
}
.message-up-vote {
  position: absolute;
  bottom: 2px;
}
.message-up-vote span {
  color: white;
  background: #6DB629;
}
.message-down-vote {
  position: absolute;
  bottom: 2px;
  right: 0;
  margin-right: 31px;
}
.message-down-vote span {
  color: white;
  background: #F25347;
}
