.uk-navbar-nav > li.uk-active > a {
  font-weight: 500;
}
.uk-dropdown-nav .uk-badge {
  margin-top: 5px;
  margin-bottom: 5px;
}
.uk-navbar-dropdown {
  width: 250px;
}
.uk-dropdown.user-info {
  width: 300px;
}
.uk-dropdown.user-info li > span:not(.uk-badge) {
  padding: 5px 0;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
.users-online {
  position: absolute;
  margin-top: 25px;
  width: 100%;
}
.recent-threads-content {
  left: 0;
  width: 250px;
  padding: 10px;
  position: absolute;
  top: 80px;
  bottom: 33px;
  overflow-y: auto;
  padding-bottom: 20px;
  font-size: 0.875rem;
}
.recent-messages-content {
  right: 0;
  width: 250px;
  padding: 10px;
  position: absolute;
  top: 80px;
  bottom: 33px;
  overflow-y: auto;
  padding-bottom: 20px;
  font-size: 0.875rem;
}
.page-content {
  left: 270px;
  right: 280px;
  position: absolute;
  top: 80px;
  bottom: 23px;
  overflow-y: auto;
  padding-bottom: 20px;
}
.page-content .uk-container {
  padding-left: 30px;
  padding-right: 10px;
}
.page-content .uk-pagination {
  margin-left: 30px;
}
.page-footer {
  position: absolute;
  height: 23px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F8F8F8;
  font-size: 0.875rem;
  text-align: center;
}
.thread-title {
  margin-right: 0;
}
.thread-actions {
  margin-top: -20px;
  text-align: center;
  position: absolute;
  right: 0;
}
.discussion-thread-message {
  padding-bottom: 10px !important;
}
.message-author {
  margin-right: 20px;
}
.message-author .username,
.user-in-list .username {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 0.875rem;
  text-align: center;
}
.message-author .username .thread-author,
.user-in-list .username .thread-author {
  font-size: 1.2rem;
}
.message-author .usertitle,
.user-in-list .usertitle {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 0.675rem;
  text-align: center;
}
.pointer-cursor {
  cursor: pointer;
}
.text-avatar {
  box-sizing: border-box;
  width: 96px;
  height: 96px;
  font-size: 64px;
  border-radius: 500px;
  background: #F4F4F4;
  vertical-align: middle;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.text-avatar-flag {
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  font-size: 48px;
  border-radius: 500px;
  background: #F4F4F4;
  vertical-align: middle;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.message-time-container {
  margin-top: -24px;
  left: 0;
  right: 0;
  text-align: center;
}
.message-time {
  font-size: 0.875rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.message-actions {
  float: right;
  width: 30px;
  margin-right: -10px;
  padding-left: 40px;
}
.message-actions a:not(:first-child) {
  margin-top: 15px;
}
.message-content {
  text-align: justify;
}
.message-content .uk-table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.message-content pre {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.message-content ol,
.message-content ul {
  margin-left: 100px;
}
.message-signature {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}
.message-up-vote {
  position: absolute;
  bottom: 2px;
  cursor: pointer;
}
.message-up-vote span {
  color: white;
  background: #6DB629;
}
.message-down-vote {
  position: absolute;
  bottom: 2px;
  right: 0;
  cursor: pointer;
}
.message-down-vote span {
  color: white;
  background: #F25347;
}
.thread-header .uk-card {
  padding-top: 20px;
  padding-bottom: 0;
}
.thread-header .uk-badge {
  vertical-align: text-bottom;
}
.thread-details {
  font-size: 0.875rem;
  margin-top: -20px;
}
.message-number {
  position: absolute;
  top: 8px;
  width: 96px;
  text-align: right;
  right: 0;
}
.recent-threads-content .thread-vote {
  padding: 1px;
  font-size: 0.75rem;
  min-width: 20px;
  display: inline-block;
  text-align: center;
}
.recent-threads-content .thread-vote.up-vote {
  color: white;
  background-color: #6DB629;
}
.recent-threads-content .thread-vote.neutral-vote {
  color: white;
  background-color: #A0A0A0;
}
.recent-threads-content .thread-vote.down-vote {
  color: white;
  background-color: #F25347;
}
.recent-threads-content .recent-thread {
  padding-bottom: 10px;
}
.recent-threads-content .recent-thread:not(:last-child) {
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 10px;
}
.recent-threads-content .recent-thread a.recent-thread-link {
  color: black;
  font-size: 0.80rem;
}
.recent-messages-content .recent-message {
  padding-bottom: 10px;
}
.recent-messages-content .recent-message:not(:last-child) {
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 10px;
}
.recent-messages-content .recent-message .author {
  float: left;
  display: block;
}
.recent-messages-content .recent-message a.recent-message-link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
  font-size: 0.80rem;
}
.recent-messages-content .recent-message a.recent-message-thread-link {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
}
.uk-card {
  padding-left: 0;
  padding-right: 0;
}
.uk-modal-dialog {
  max-height: 75%;
  overflow: auto;
}
#flags-modal .flag-message {
  padding-top: 0;
  padding-bottom: 0;
}
#flags-modal .flag-content p {
  margin-bottom: 0;
}
#flags-modal .uk-divider-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}
#privileges-modal .uk-modal-dialog {
  width: 90%;
}
#privileges-modal h1,
#privileges-modal h2,
#privileges-modal h3,
#privileges-modal h4,
#privileges-modal h5,
#privileges-modal h6 {
  margin: 10px 0px;
}
#privileges-modal td,
#privileges-modal th {
  padding: 2px;
  text-align: center;
}
#privileges-modal td:first-child,
#privileges-modal th:first-child {
  text-align: left;
}
#privileges-modal td {
  font-size: 0.85rem;
}
.reply-container {
  padding: 10px;
}
.reply-container textarea {
  min-height: 100px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .message-number {
    top: 10px;
  }
}
.users-list-header {
  margin-left: 15px;
  padding: 10px;
}
.users-list-header .user-list-sort-order {
  padding-top: 8.5px;
}
.users-list {
  padding: 20px;
  padding-top: 0px;
}
.users-list .uk-card-body {
  padding: 10px;
}
.user-in-list {
  font-size: 0.875rem;
}
.user-in-list .uk-float-right {
  font-size: 0.775rem;
}
.user-in-list .min-date {
  text-align: right;
  min-width: 70px;
}
.user-in-list .user-up-votes {
  float: left;
}
.user-in-list .user-up-votes span {
  color: white;
  background: #6DB629;
}
.user-in-list .user-down-votes {
  float: right;
}
.user-in-list .user-down-votes span {
  color: white;
  background: #F25347;
}
.categories-list-header,
.thread-list-header {
  margin-left: 15px;
  padding: 10px;
}
.categories-list-header .thread-list-sort-order,
.thread-list-header .thread-list-sort-order {
  padding-top: 8.5px;
}
.categories-table {
  margin-left: 15px;
  padding: 10px 10px 0 10px;
}
.categories-table th:first-child,
.categories-table td:first-child {
  padding-left: 0;
}
.categories-table th:last-child,
.categories-table td:last-child {
  padding-right: 0;
}
.categories-table .latest-message-header {
  width: 280px;
}
.categories-table .category-tags-header {
  min-width: 150px;
}
.categories-table .category-statistics {
  font-size: 0.875rem;
  min-width: 150px;
}
.categories-table .category-statistics table {
  margin: auto;
}
.categories-table .category-statistics table tr,
.categories-table .category-statistics table td {
  padding: 0;
  margin: 0;
}
.categories-table .category-statistics table td:first-child {
  padding-right: 10px;
}
.categories-table .latest-message {
  width: 280px;
  overflow-x: hidden;
  display: block;
  text-overflow: ellipsis;
  font-size: 0.875rem;
}
.categories-table .latest-message:not(:last-child) {
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 10px;
}
.categories-table .latest-message .author-logo {
  box-sizing: border-box;
  width: 57.6px;
  height: 57.6px;
  font-size: 38.4px;
  border-radius: 500px;
  background: #F4F4F4;
  vertical-align: middle;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  float: left;
  margin-right: 10px;
}
.categories-table .latest-message .author {
  float: left;
  display: block;
}
.categories-table .latest-message a.recent-message-link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
  font-size: 0.70rem;
}
.categories-table .latest-message a.recent-message-thread-link {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
}
.spaced-number {
  word-spacing: -0.1em;
}
.thread-list-header {
  margin-top: -20px;
}
.threads-table {
  margin-left: 15px;
  padding: 10px 10px 0 10px;
}
.threads-table th:first-child,
.threads-table td:first-child {
  padding-left: 0;
}
.threads-table th:last-child,
.threads-table td:last-child {
  padding-right: 0;
}
.threads-table .uk-button {
  text-transform: none;
}
.threads-table .latest-message-header {
  width: 280px;
}
.threads-table .thread-created-header {
  min-width: 160px;
}
.threads-table .thread-tags {
  margin-left: 25px;
}
.threads-table .uk-icon-button {
  margin-left: -16px;
}
.threads-table .thread-created .author-logo {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  font-size: 32px;
  border-radius: 500px;
  background: #F4F4F4;
  vertical-align: middle;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  float: left;
  margin-right: 10px;
}
.threads-table .thread-created .author {
  display: block;
}
.threads-table .thread-statistics {
  font-size: 0.875rem;
  min-width: 150px;
}
.threads-table .thread-statistics table {
  margin: auto;
  margin-top: -10px;
  margin-bottom: -10px;
}
.threads-table .thread-statistics table tr,
.threads-table .thread-statistics table td {
  padding: 0;
  margin: 0;
}
.threads-table .thread-statistics table td:first-child {
  padding-right: 10px;
}
.threads-table .thread-score-up {
  color: white;
  background: #6DB629;
}
.threads-table .thread-score-down {
  color: white;
  background: #F25347;
}
.threads-table .latest-message {
  width: 280px;
  overflow-x: hidden;
  display: block;
  text-overflow: ellipsis;
  font-size: 0.875rem;
}
.threads-table .latest-message:not(:last-child) {
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 10px;
}
.threads-table .latest-message .author-logo {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  font-size: 32px;
  border-radius: 500px;
  background: #F4F4F4;
  vertical-align: middle;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  float: left;
  margin-right: 10px;
}
.threads-table .latest-message .author {
  display: block;
}
.threads-table .latest-message a.recent-message-link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
  font-size: 0.70rem;
  margin-top: 7px;
}
.threads-table .latest-message a.recent-message-thread-link {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
}
